{% extends "base.html" %}
{% block scripts %}
    {% load static %}<script src="{% static "js/statistics.js" %}"></script>
{% endblock %}

{% block title %}Developer Statistics{% endblock %}
{% load static %}

{% block content %}
<div class="container-fluid">
{% if dev %}
    <div id="statistics">
        {# Graphs and a map #}
        <div id="statistics-graphs">
            <div class="row">
                <div class="col-lg 12 col-md-12 col-sm-12 col-xs-12">
                    <h2>Graphs from your top 5 sold games</h2>
                </div>
            </div>
            {%if games%}
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <h3>Sold games in a pie chart</h3>
                        <img src="{% url 'statistics-pie'%}" class="img-responsive" alt="Loading graph..." style="width: 100%"/>

                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <h3>Age distribution of gamers</h3>
                        <img src="{% url 'statistics-ages'%}" class="img-responsive" alt="Loading graph..." style="width: 100%"/>
                    </div>
                </div>
                <h3>Players on a map</h3>
                <div id="statistics_map">
                    <p id="map_not_loaded">Loading map...</p>
                </div>
            
            {%else%}
                <h3>You have to have at least 5 games to view the charts</h3>
            {%endif%}
        </div>
        {# Tables #}
        <div id="statistics-table">
            <div class="row">
                <div class="col-lg 12 col-md-12 col-sm-12 col-xs-12">
                    <h2>Numbers from your games</h2>
                </div>
            </div>
            {%if games%}
                
                {% include "devstatistics/statistics_table_avgs.html"%}
                <div class="row">
                    <div class="col-lg 12 col-md-12 col-sm-12 col-xs-12">
                        <h2>Game sale history</h2>
                    </div>
                </div>
                {% include "devstatistics/statistics_table_totals.html"%}
            {%else%}
                <h3>You have to have at least one game to view the statistics</h3>
            {%endif%}
        </div>
    </div>

{% else %}
    <p>You need to be a developer to see the developer statistics.
    Click <a href="{% url 'register-developer' %}">here</a> to go sign in as a developer</p>
{%endif%}
</div>
{% endblock %}
