﻿ <table class="sortable-table table table-condensed table-striped">
    <tr>
        <th style="cursor:pointer">Game</th>
        <th style="cursor:pointer">Payment date</th>
        <th style="cursor:pointer">Sale price</th>
    </tr>
    {% for total in totals %}
        <tr>
            <td><a href="{% url 'game-view' total.game_id %}"><span>{{total.game_id__name}}</span></a></td>
            <td><span>{{total.payment_time|date:"Y m d"}}</span></td>
            <td><span>{{total.amount}}</span>€</td>
        </tr>
    {% endfor %}
</table> 



