﻿<table class="table table-condensed table-striped">
    <tr>
        <th>Games sold</th>
        <th>Total play time</th>
        <th>Average rating for all games</th>
        <th>Money earned</th>
    </tr>
        <tr>
            <td>{{total_boughts.payments__count}}</td>
            <td>{% widthratio total_playtime.owners__time_played__sum 60 1%}h</td>
            <td>{{total_ratings.owners__rating__avg |floatformat:0}}</td>
            <td>{{total_earnings.payments__amount__sum}}€</td>
        </tr>
</table>

<div class="row">
    <div class="col-lg 12 col-md-12 col-sm-12 col-xs-12">
        <h2>Sale statistics by a game</h2>
    </div>
</div>

<table class="sortable-table table table-condensed table-striped">
    <tr>
        <th style="cursor:pointer">Game</th>
        <th style="cursor:pointer">Play time</th>
        <th style="cursor:pointer">Rating</th>
        <th style="cursor:pointer">Bought</th>
        <th style="cursor:pointer">Earnings</th>
    </tr>
    {% for game in all_games %}
        <tr>
            <td><a href="{% url 'game-view' game.id %}"><span>{{game.name}}</span></a></td>
            <td><span>{% widthratio game.total_playtime 60 1 %}</span>h</td>
            <td><span>{{game.rating |floatformat:0 }}</span></td>
            <td><span>{{game.payments_count}}</span></td>
            <td><span>{{game.payments_sum}}</span>€</td>
        </tr>
    {% endfor %}
</table>
