﻿{%if map%}
    {{map|safe}}
    <p id="map_loaded"><small>Hint: Each game has the similiar color as the charts above, click on a clustered marker to see all markers in it and click a marker to see the game name</small></p>
{%endif%}