{% extends "base.html" %}
{% block scripts %}
    {% load static %}<script src="{% static "js/forms.js" %}"></script>
{% endblock %}

{% block title %}{{title}}{% endblock %}

{% block content %}
{% if dev %}
    <h2>{{ pagename }}</h2>
    {% if game  %}
        <form class="form-horizontal" method="post" action="{% url 'delete-game' game.pk %}">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="Delete game" />
        </form>
    {% endif %}
    <div id="{{formid}}">
        {% include "login/form.html"%}
    </div>
{% else %}
    <p>You need to be a developer to upload or update games. Click <a href="{% url 'register-developer' %}">here</a> to go sign in as a developer</p>
{% endif %}
{% endblock %}


