div {
  position: absolute;
  padding: 0px;
  margin: 0px;
}
#phaseExplore, #phaseBattle {
  top: 0px;
  left: 0px;
}
#bg {
  width: 600px;
  height: 300px;
  left: 0px;
  top: 30px;
}
#hud {
  width: 600px;
  height: 30px;
  color: white;
  background-color: black;
  left: 0px;
  top: 0px;
}
#hud div {
  font-size: 15px;
  font-family: sans-serif;
  top: 5px;
}
#hudHp {
  left: 5px;
}
#hudScore {
  left: 105px;
}
#hudLevel {
  left: 355px;
}
#hudRoom {
  left: 455px;
}
#directions, #actions {
  width: 600px;
  height: 40px;
  background-color: sienna;
  top: 330px;
  left: 0px;
  border-top-style: solid;
}
#doors div {
  width: 200px;
  height: 300px;
  top: 30px;
  z-index: -1;
}
#directions div, #actions div {
  font-size: 18px;
  font-family: sans-serif;
  text-align: center;
  width: 150px;
  top: 8px;
  color: yellow;
  cursor: pointer;
  text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}
#directions div:hover, #actions div:hover {
  color: white;
}
#doorLeft {
  left: 0px;
}
#doorMiddle {
  left: 200px;
}
#doorRight {
  left: 400px;
}
#left, #attack {
  left: 25px;
}
#middle, #defend {
  left: 225px;
}
#right, #items {
  left: 425px;
}
#monsterInfo div {
  color: white;
  font-size: 15px;
  font-family: sans-serif;
  left: 450px;
  width: 150px;
}
#monsterName {
  top: 200px;
}
#monsterHp {
  top: 220px;
}
#monsterCharging {
  top: 240px;
}
#itemList {
  background-color: lightGray;
  width: 200px;
  height: 300px;
  top: 30px;
  left: 0px;
  border-right-style: solid;
  padding-left: 10px;
}
#itemListList {
  padding-left: 10px;
  list-style: none;
  font-size: 15px;
  font-family: sans-serif;
}
#monsterPic {
  left: 150px;
  top: 30px;
  width: 300px;
  height: 300px;
}
h1 {
  font-family: sans-serif;
}
#dataCheck {
  text-align: center;
  width: 600px;
  height: 370px;
  left: 0px;
  top: 0px;
}
#game {
  left: 0px;
  top: 0px;
}
body {
  overflow: hidden;
}
