﻿{% extends "base.html" %}

{% block title %}Password change complete{% endblock %}

{% block content %}
<p>Your password has been successfully changed!</p>
<p><a href="/">Home page</a></p>
{% endblock %}