﻿{% extends "base.html" %}
{% block scripts %}
    {% load static %}<script src="{% static "js/forms.js" %}"></script>
{% endblock %}

{% block title %}Reset Password{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
    <p>You are already logged in so no need to change your password. Click <a href="{% url 'password-change' %}">here</a> if you want to change your password or click <a href="/">here</a> to go to the home page.</p>
{% else %}

    {# Either the email form or new password form is presented #}
    {% if form %}
        
        {% if form.email %}
            {% include "login/form.html" with info="Please specify your email address to receive instructions for resetting the password." buttontext="Reset password" %}     
        {% elif form.new_password1 %}
            {% if validlink %}
                {% include "login/form.html" with info="Please enter your new password twice." buttontext="Change my password" %}
            {% else %}
                <h1>Password reset unsuccessful</h1>
                <p>The password reset link was invalid, <br />
                possibly because it has already been used. <br />
                Please <a href="{% url 'password-reset' %}">request</a> a new password reset.</p>
            {% endif %}        
        {% endif %}
    {% endif %}
{% endif %}

{% endblock %}
