﻿{% extends "base.html" %}

{% block title %}Password reset complete{% endblock %}

{% block content %}
<p>Your password has been reseted.  You may go ahead and <a href="{% url 'login' %}">log in</a> now.</p>
{% endblock %}