{% extends "base.html" %}
{% block scripts %}
    {% load static %}<script src="{% static "js/forms.js" %}"></script>
{% endblock %}

{% block title %}Change Password{% endblock %}

{% block content %}

{% if request.user.is_authenticated %}
    {% if form.errors %}<p>The passwords didn't match. Please try again.</p>{% endif %}      
    {% include "login/form.html" with info="Change the password." buttontext="Change password" %}
{% else %}
    <p>If you can't renember your password, you can <a href="{% url 'password-reset' %}">reset it using the email addess</a>.</p>  
{% endif %}

{% endblock %}


