{% extends "base.html" %}

{% block title %}
  {% if mode == "game-list" %}
    Browse
  {% elif mode == "cart" %}
    Shopping Cart
  {% elif mode == "owned-games" %}
    Game Collection
  {% elif mode == "developed-games" %}
    Game Manager
  {% endif %}
{% endblock %}

{% load static %}

{% block header %}
  {% if mode == "game-list" %}
    <link rel="stylesheet" href="{% static "sidebar.css" %}"/>
  {% endif %}
  <link rel="stylesheet" href="{% static "toggle.css" %}"/>
{% endblock %}

{% block content %}
  {% if mode == "game-list" %}
  <div id="sidebar">
    <div id="sidebar-container">
      <h3>Tags</h3>
      <div id="search-tags">
        {% for tag in all_tags %}
          <div class="search-tags-row">
            {% if tag.name == query_tag %}
              <a href="{% url 'game-list' %}">
                <span style="font-weight:bold">{{ tag.name }}</span>
              </a>
            {% else %}
              <a href="{% url 'game-list' %}?query_tag={{ tag.name|urlencode }}">
                {{ tag.name }}
              </a>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}

  <div id="content" class="container-fluid">
    {% if mode == "game-list" %}
    <a href="#">
      <div id="sidebar-toggle">
        <span class="glyphicon glyphicon-tags"></span>
      </div>
    </a>
    {% endif %}
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        {% if query_tag %}<a href="{% url 'game-list' %}">Return to all games</a>{% endif %}
      </div>
    </div>
    <div id="title" class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        {% if mode == "game-list" %}
          <h2>Browsing {% if query_tag %}{{ query_tag }}{% else %}All{% endif %} Games</h2>
        {% elif mode == "cart" %}
          <h2>Shopping Cart</h2>
        {% elif mode == "owned-games" %}
          <h2>Game Collection</h2>
        {% elif mode == "developed-games" %}
          <h2>Game Manager</h2>
        {% endif %}
      </div>
    </div>
    <div id="error-container"></div>
    <div id="search-options" class="row">
      <input type="hidden" name="search-tag" id="search-tag" value="{% if query_tag %}{{ query_tag }}{% endif %}">
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <form id="search-form" class="form-nondefault form-inline">
              <input type="text" name="search-box" id="search-box" value="{{ query_text }}" placeholder="search here" class="form-control input-sm">
              <button name="search-button" id="search-button" class="btn btn-primary btn-sm pull-right">Search</button>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <form id="search-options-form" class="form-nondefault form-inline">
              <label for="search-order">Sort by</label>
              <select name="search-order" id="search-order" class="form-control input-sm">
                <option value="name" {% if order_by == "name" %}selected{% endif %}>Name</option>
                <option value="price" {% if order_by == "price" %}selected{% endif %}>Price</option>
                <option value="release_date" {% if order_by == "release_date" %}selected{% endif %}>Released</option>
                <option value="update_date" {% if order_by == "update_date" %}selected{% endif %}>Updated</option>
              </select>
              <label class="toggle">
                <input type="checkbox" id="search-asc-desc-toggle" {% if order_dir == "desc" %}checked{% endif %}>
                <span class="toggle-icon-1 glyphicon glyphicon-sort-by-attributes"></span>
                <span class="toggle-icon-2 glyphicon glyphicon-sort-by-attributes-alt"></span>
                <span class="toggle-text"></span>
              </label>
              <div class="pull-right">
                <label for="search-per-page">Results per page</label>
                <select name="search-per-page" id="search-per-page" class="form-control input-sm">
                  <option value="5" {% if per_page == 5 %}selected{% endif %}>5</option>
                  <option value="10" {% if per_page == 10 %}selected{% endif %}>10</option>
                  <option value="20" {% if per_page == 20 %}selected{% endif %}>20</option>
                  <option value="50" {% if per_page == 50 %}selected{% endif %}>50</option>
                </select>
              </div>
            </form>
          </div>
        </div>
      </div>
      {% if mode == "cart" %}
        <div class="col-md-4 col-sm-12 col-xs-12 text-right">
          <a href="{% url 'change-cart' %}?action=empty">
            <div class="btn btn-primary empty-cart-button">
              <span class="glyphicon glyphicon-remove"></span>
              Empty Cart
            </div>
          </a>
          <a href="{% url 'payment-make' %}">
            <div class="btn btn-primary checkout-button">
              <span class="glyphicon glyphicon-ok"></span>
              Checkout
            </div>
          </a>
        </div>
      {% elif mode == "developed-games" %}
        <div class="col-md-4 col-sm-12 col-xs-12 text-right">
        <a href="{% url 'dev-statistics' %}">
          <div class="btn btn-primary">
            <span class="glyphicon glyphicon-stats"></span>
            Statistics
          </div>
            </a>
          <a href="{% url 'upload-game' %}?next={{ request.path|urlencode }}">
            <div class="btn btn-primary">
              <span class="glyphicon glyphicon-cloud-upload"></span>
              Upload a Game
            </div>
          </a>
        </div>
      {% endif %}
    </div>

    {% comment %}
    When search options are changed, use AJAX to load only the search-results div
    again, from game_list_list.html.
    {% endcomment %}

    <div id="search-results"></div>
  </div>
{% endblock %}

{% block scripts %}
  {% if mode == "game-list" %}
    <script src="{% static "js/sidebar.js" %}"></script>
  {% endif %}
  <script src="{% static "js/search.js" %}"></script>
{% endblock %}
