<div id="search-result-list">
  {% if not displayed_games %}
  No results found.
  {% else %}
  Showing {{ num_displayed }} of {{ num_results }} results.
  {% endif %}
  {% if num_total > 0 %} {{ num_total }} items in total. {% endif %}
  <input type="hidden" id="total-hidden" value="{{ num_total }}">
  {% for game in displayed_games %}
    <div class="search-result-row row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="row">
          <div class="search-result-title col-md-12 col-sm-12 col-xs-12">
            <a href="{% url 'game-view' game.pk %}">{{ game.name }}</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-12 col-xs-12">
            <a href="{% url 'game-view' game.pk %}">
              <img src="{{MEDIA_URL}}{{ game.thumbnail }}" class="search-result-thumbnail img-responsive" alt="{{ game.name }}">
            </a>
          </div>
          <div class="col-md-9 col-sm-12 col-xs-12">
            <div class="row">
              <div class="col-md-9 col-sm-9 col-xs-6">
                <div class="search-result-released">Released: {{ game.release_date|date:"d M Y" }}</div>
                <div class="search-result-description">{{ game.short_description }}</div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-6 text-right">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    {% if mode == "game-list" %}
                      {% if game.developed %}
                        <a href="{% url 'update-game' game.pk %}?next={{ request.path|urlencode }}">
                          <div class="btn btn-primary edit-button">
                            <span class="glyphicon glyphicon-edit"></span>
                            Edit
                          </div>
                        </a>
                      {% elif game.owned %}
                        <a href="{% url 'play-game' game.pk %}">
                          <div class="btn btn-primary play-button">
                            <span class="glyphicon glyphicon-play-circle"></span>
                            Play
                          </div>
                        </a>
                      {% else %}
                        <a href="{% url 'change-cart' %}?game_id={{ game.pk }}">
                          <div class="btn btn-primary add-to-cart-button{% if game.in_cart %} in-cart{% endif %}{% if not user.is_authenticated %} no-ajax{% endif %}">
                            <span class="glyphicon glyphicon-shopping-cart"></span>
                          </div>
                        </a>
                      {% endif %}
                    {% elif mode == "cart" %}
                      <a href="{% url 'change-cart' %}?game_id={{ game.pk }}">
                        <div class="btn btn-primary add-to-cart-button in-cart">
                          <span class="glyphicon glyphicon-shopping-cart"></span>
                        </div>
                      </a>
                    {% elif mode == "owned-games" %}
                      <a href="{% url 'play-game' game.pk %}">
                        <div class="btn btn-primary play-button">
                          <span class="glyphicon glyphicon-play-circle"></span>
                          Play
                        </div>
                      </a>
                    {% elif mode == "developed-games" %}
                      <a href="{% url 'update-game' game.pk %}?next={{request.path|urlencode }}">
                        <div class="btn btn-primary edit-button">
                          <span class="glyphicon glyphicon-edit"></span>
                          Edit
                        </div>
                      </a>
                    {% endif %}
                  </div>
                </div>
                {% if mode != "owned-games" %}
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      {% if game.discount > 0 %}
                        <div class="search-result-discount">-{{ game.discount }} %</div>
                        <div class="search-result-price-old"><s>{{ game.price|floatformat:2 }} &euro;</s></div>
                        <div class="search-result-price-new">{{ game.discounted_price|floatformat:2 }} &euro;</div>
                      {% else %}
                        <div class="search-result-price">{{ game.price|floatformat:2 }} &euro;</div>
                      {% endif %}
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% if displayed_pages %}
  <div id="search-result-pages">
    <ul class="pagination">
      {% if first_page not in displayed_pages %}
        {% if first_page == current_page %}
          <li class="active"><span>{{ first_page }}</span></li>
        {% else %}
          <li><a href="?query_tag={{ query_tag }}&query_text={{ query_text_url }}&order_by={{ order_by }}&order_dir={{ order_dir }}&page_number={{ first_page }}&per_page={{ per_page}}">{{ first_page }}</a></li>
        {% endif %}
        {% if first_page not in uncollapsed_pages %}
          <li class="disabled"><span>...</span></li>
        {% endif %}
      {% endif %}
      {% for page in displayed_pages %}
        {% if page == current_page %}
          <li class="active"><span>{{ page }}</span></li>
        {% else %}
          <li><a href="?query_tag={{ query_tag }}&query_text={{ query_text_url }}&order_by={{ order_by }}&order_dir={{ order_dir }}&page_number={{ page }}&per_page={{ per_page}}">{{ page }}</a></li>
        {% endif %}
      {% endfor %}
      {% if last_page not in displayed_pages %}
        {% if last_page not in uncollapsed_pages %}
          <li class="disabled"><span>...</span></li>
        {% endif %}
        {% if last_page == current_page %}
          <li class="active"><span>{{ last_page }}</span></li>
        {% else %}
          <li><a href="?query_tag={{ query_tag }}&query_text={{ query_text_url }}&order_by={{ order_by }}&order_dir={{ order_dir }}&page_number={{ last_page }}&per_page={{ per_page}}">{{ last_page }}</a></li>
        {% endif %}
      {% endif %}
    </ul>
  </div>
{% endif %}
