{% extends "base.html" %}

{% block title %}
  {{ game.name }}
{% endblock %}

{% load static %}

{% block header %}
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:type" content="product" />
<meta property="og:title" content="{{ game.name }}" />
<meta property="og:description" content="{{ game.short_description }}" />
<meta property="og:image" content="{{MEDIA_URL}}{{ game.thumbnail }}" />
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12"><h2>{{ game.name }}</h2></div>
    </div>
    <div class=row>
      <div class="col-md-8 col-sm-8 col-sm-12">
        <div class="row" style="margin-bottom: 15px">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="shot-browser">
              <a href="#">
                <div class="shot-control prev-shot">
                  <span class="glyphicon glyphicon-menu-left"></span>
                </div>
              </a>
              {% for shot in game.screenshots.all %}
                <img src="{{MEDIA_URL}}{{ shot.image }}" class="img-responsive screenshot" alt="{{ game.name }}">
              {% endfor %}
              <a href="#">
                <div class="shot-control next-shot">
                  <span class="glyphicon glyphicon-menu-right"></span>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            {% if game.discount > 0 %}
              <div style="display: inline-block">
                <span class="view-price-old">
                  <s>{{ game.price|floatformat:2 }} &euro;</s><br>
                </span>
                <span class="view-price-new">
                  {{ discounted_price|floatformat:2 }} &euro;
                </span>
              </div>
              <div class="view-discount" style="display: inline-block">-{{ game.discount }} %</div>
            {% else %}
              <div class="view-price" style="display: inline-block">{{ game.price|floatformat:2 }} &euro;</div>
            {% endif %}
            {% if developed %}
              <a href="{% url 'update-game' game.pk %}?next={{ request.path|urlencode }}">
                <div class="btn btn-primary pull-right edit-button">
                  <span class="glyphicon glyphicon-edit"></span>
                  Edit
                </div>
              </a>
            {% elif owned %}
              <a href="{% url 'play-game' game.pk %}">
                <div class="btn btn-primary pull-right play-button">
                  <span class="glyphicon glyphicon-play-circle"></span>
                  Play
                </div>
              </a>
              <div class="pull-right" style="clear: right">Time played: {{ hours }} h {{minutes}} min</div>
            {% else %}
              <a href="{% url 'change-cart' %}?game_id={{ game.pk }}">
                <div class="btn btn-primary pull-right add-to-cart-button{% if in_cart %} in-cart{% endif %}{% if not user.is_authenticated %} no-ajax{% endif %} game-view">
                  <span class="glyphicon glyphicon-shopping-cart"></span>
                </div>
              </a>
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <h4>Description</h4>
            <p>{{ game.long_description }}</p>
            <p>Developer: {{ game.developer.developer_name }}</p>
            <p>Released: {{ game.release_date|date:"d M Y" }}<br>
            Updated: {{ game.update_date|date:"d M Y" }}</p>
            <div><h4>Tags</h4>
            {% for tag in game.tags.all %}
              <a class="btn btn-default btn-xs" href="{% url 'game-list' %}?query_tag={{ tag.name|urlencode }}">
                {{ tag.name }}
              </a>
            {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <img src="{{MEDIA_URL}}{{ game.thumbnail }}" class="img-responsive hide-mobile" alt="{{ game.name }}">
        <h4>Rating</h4>
        <div id='average_rating'><p id="avgrating">Average rating from {{rates}} ratings</p></div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <span id="avgrate-1-icon" class='avgratingstar glyphicon glyphicon-star-empty rate-star'></span>
          <span id="avgrate-2-icon" class='avgratingstar glyphicon glyphicon-star-empty rate-star'></span>
          <span id="avgrate-3-icon" class='avgratingstar glyphicon glyphicon-star-empty rate-star'></span>
          <span id="avgrate-4-icon" class='avgratingstar glyphicon glyphicon-star-empty rate-star'></span>
          <span id="avgrate-5-icon" class='avgratingstar glyphicon glyphicon-star-empty rate-star'></span>
        </div>
        {% if owned %}
        <div id='user_rating'><p>Your rating</p></div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <button id="rate-1" type='button' class='btn btn-link btn-xs'>
            <span id="rate-1-icon" class='ratingstar glyphicon glyphicon-star-empty rate-star'></span>
          </button>
          <button id="rate-2" type='button' class='btn btn-link btn-xs'>
            <span id="rate-2-icon" class='ratingstar glyphicon glyphicon-star-empty rate-star'></span>
          </button>
          <button id="rate-3" type='button' class='btn btn-link btn-xs'>
            <span id="rate-3-icon" class='ratingstar glyphicon glyphicon-star-empty rate-star'></span>
          </button>
          <button id="rate-4" type='button' class='btn btn-link btn-xs'>
            <span id="rate-4-icon" class='ratingstar glyphicon glyphicon-star-empty rate-star'></span>
          </button>
          <button id="rate-5" type='button' class='btn btn-link btn-xs'>
            <span id="rate-5-icon" class='ratingstar glyphicon glyphicon-star-empty rate-star'></span>
          </button>
        </div>
        {% endif %}
        <div><h4>Top players</h4>
          <table class="table table-condensed table-striped">
            {% for tp in top_players %}
              <tr>
                <td>{{ tp.user_id.username }}</td>
                <td style="text-align: right">{{ tp.score }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
        <div class="social">
          <a href="https://www.facebook.com/sharer.php?u={{ request.build_absolute_uri }}" class="btn btn-sm social-fb">
            <img src="{% static "social-fb.png" %}" alt="Facebook"><span>Share</span>
          </a>
          <a href="https://twitter.com/intent/tweet?text={{ game.name|urlencode }}&url={{ request.build_absolute_uri }}" class="btn btn-sm social-tw">
            <img src="{% static "social-tw.png" %}" alt="Twitter"><span>Tweet</span>
          </a>
          <a href="https://plus.google.com/share?url={{ request.build_absolute_uri }}" class="btn btn-sm social-gp">
            <img src="{% static "social-gp.png" %}" alt="Google+"><span>Share</span>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div><h4>Similar games</h4>
        <div class="row hide-mobile">
          {% for sg in similar_games %}
            <a href="{% url 'game-view' sg.pk %}" class="col-md-3 col-sm-3 col-xs-12">
              <img src="{{MEDIA_URL}}{{ sg.thumbnail }}" class="img-responsive" alt="{{ sg.name }}">
              {{ sg.name }}
            </a>
          {% endfor %}
        </div>
        <ul class="list-group hide-desktop">
          {% for sg in similar_games %}
            <li class="list-group-item">
              <a href="{% url 'game-view' sg.pk %}">
                <span class="glyphicon glyphicon-chevron-right"></span>
                {{ sg.name }}
              </a>
            </li>
          {% endfor %}
        </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script src="{% static "js/screens.js" %}"></script>
<script src="{% static "js/rating.js" %}"></script>

<script type='text/javascript'>

$(document).ready(function(){
  // Initial rating stars when page is downloaded
  var initial_user_rating = parseInt('{{user_rating}}');
  changeStars(initial_user_rating);
  var initial_avg_rating = Math.round('{{avg_rating}}');
  avgStars(initial_avg_rating);
});

</script>

{% endblock %}
