{% if forloop.first %}
  <li class="panel-body home-showcase">
    <a href="{% url 'game-view' game.pk %}">
      <img src="{{MEDIA_URL}}{{ game.thumbnail }}" class="img-responsive" alt="{{ game.name }}">
      <div class="home-showcase-label">{{ game.name }}</div>
    </a>
  </li>
{% else %}
  <li class="list-group-item">
    <a href="{% url 'game-view' game.pk %}">
      <span class="glyphicon glyphicon-chevron-right"></span>
      {{ game.name }}
    </a>
  </li>
{% endif %}
