{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% load static %}

{% block header %}
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Tags</h3>
      </div>
      <div class="panel-body home-tags">
        {% for tag in all_tags %}
          <a class="btn btn-default btn-xs" href="{% url 'game-list' %}?query_tag={{ tag.name|urlencode }}">
            {{ tag.name }}
          </a>
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Newest</h3>
          </div>
          <ul class="list-group">
            {% for game in newest_games %}
              {% include "gamebrowser/home_page_list.html" %}
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Top Rated</h3>
          </div>
          <ul class="list-group">
            {% for game in top_rated_games %}
              {% include "gamebrowser/home_page_list.html" %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Total Most Played</h3>
          </div>
          <ul class="list-group">
            {% for game in total_most_played_games %}
              {% include "gamebrowser/home_page_list.html" %}
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Monthly Top Sellers</h3>
          </div>
          <ul class="list-group">
            {% for game in most_bought_games_month %}
              {% include "gamebrowser/home_page_list.html" %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Personal Most Played</h3>
          </div>
          {% if request.user.is_authenticated %}
            <ul class="list-group">
            {% for game in personal_most_played_games %}
              <li class="list-group-item">
                <a href="{% url 'game-view' game.pk %}">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  {{ game.name }}
                </a>
              </li>
            {% endfor %}
            </ul>
          {% else %}
            <div class="panel-body">
              <a href="{% url 'login' %}">Log in</a> or <a href="{% url 'register-user' %}">sign up</a> now to start using this feature!
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
{% endblock %}
