{% extends "base.html" %}

{% block title %}
  Playing {{ game.name }}
{% endblock %}

{% load static %}

{% block content %}

<!-- Iframe that opens the actual game from provided url -->
<div class='iframe_div'>
<iframe id="gameframe" src="{{game.url}}"></iframe>
</div>

<!-- Initialized list for messages from game-service communication -->
<ul id='gamemessages'></ul>

{% endblock %}

{% block scripts %}

<script type="text/javascript">

// Function that adds msg to message feed
// 10 latest messages caused by messages from the game are displayed
function addGameMessage(msg) {
  $('#gamemessages').prepend('<li class="single_message">'+msg+'</li>');
  if ($('.single_message').length > 10){
    $('#gamemessages li:last').remove();
  }
}

  $(document).ready(function() {

    // Add event listener for incoming messages from game
    window.addEventListener("message", receiveMessage);
    function receiveMessage(event){
      // Check if the message came from the origin that the game is in
      // according to Game object passed
      if (event.origin !== "{{origin}}"){
        // Don't do anything if the origin isn't valid
        return;
      } else {
        // Get the data from the message to view that updates game properties
        // More message handling is done in the view
        var data = event.data;
        var url_original = window.location.toString();
        var url = url_original.replace('playgame', 'update');

        // Handles score message
        if(data.messageType === 'SCORE'){
          $.ajax({type: 'GET', url: url, data: data,
                  success: function (response) {
                    if (response.highscore === 'yes') {
                      addGameMessage('Score submitted! New personal highscore!');
                    }
                    else {
                      addGameMessage('Score submitted!');
                    }
                  }
                  });
        }
        // Saving the gamestate requires gameState object to be stringified to JSON
        // Displaying save message could be removed because of possible autosaving games
        // which would flood the message window
        else if (data.messageType === 'SAVE'){
          data.gameState = JSON.stringify(data.gameState);
          $.ajax({type: 'GET', url: url, data: data,
                  success: function (response) {
                    addGameMessage('Gamestate saved!');
                  }
                  });
        }
        // When gamestate loading is requested, fetch gamestate and postmessage it forward
        else if (data.messageType === 'LOAD_REQUEST'){
          $.ajax({type: 'GET', url: url, data: data,
                  success: function (response) {
                    if (response.data === ''){
                      var message = {
                        messageType: 'ERROR',
                        info: 'There was no gamestate to be loaded.'
                      };
                    } else {
                      var message = {
                        messageType: 'LOAD',
                        gameState: JSON.parse(response.data)
                      };
                      addGameMessage('Gamestate loaded!');
                    }
                    var iframe = document.getElementById('gameframe');
                    // Message is posted with target origin of the original event of message
                    iframe.contentWindow.postMessage(message, event.origin);
                  }});
        }
        else if (data.messageType === 'SETTING'){
          // Get new height and width properties from message and resize iframe
          // No requests needed, straightforward css manipulating
          var height = data.options.height.toString()+'px';
          var width = data.options.width.toString()+'px';
          $('.iframe_div').css('height', height);
          $('.iframe_div').css('width', width);
          console.log("Settings applied!");
        }
        console.log(data);
      }
    }
  });


</script>
<script src="{% static "js/gameplay.js" %}"></script>

{% endblock %}
