{% extends "base.html" %}

{% block title %}404 Not Found{% endblock %}

{% block content %}

<div class="row">
  <div class="col-lg 12 col-md-12 col-sm-12 col-xs-12 text-center">
    <h3>We're sorry but this page was not found!</h3>
  </div>
</div>
<div class="row">
  <div class="col-lg 12 col-md-12 col-sm-12 col-xs-12 text-center">
    <h4>
      <a href="{% url 'home' %}">
        Back home
      </a>
    </h4>
  </div>
</div>
<br>

{% endblock %}
