﻿<!DOCTYPE html>
<!-- Basic template sketch for kulavi pages -->
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  <title>WSD16 project Kulavi | {% block title %}base{% endblock %}</title>
    <meta name="description" content="WSD16 project">

    <!-- Bootstrap css stylesheet -->
    <link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">

    <!-- Custom css stylesheet -->
    {% load static %}
    <link rel="stylesheet" href="{% static "css.css" %}"/>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static "icon.png" %}">
    
    {% block header %}
    {% endblock %}

    <!-- Javascripts are in the bottom of the page -->
  </head>

  <body>
    <!-- Navigation bar -->
    <nav id="header" class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">

        <!-- Navbar background: logo and optional collapsing button -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/"><img class ="navbar-left" src="{% static "logo.png" %}"  alt="WSD16 project Kulavi"></a>
        </div>

        <!-- Navbar choices -->
        <div id="navbar" class="navbar-collapse collapse">
          <!-- Left side -->
          <ul class="nav navbar-nav navbar-left">
            <li><a href="{% url 'game-list' %}">Browse</a></li>
            {% if user.is_authenticated %}
              <li><a href="{% url 'owned-games' %}">Collection</a></li>
              {% if user.developer %}
                <li><a href="{% url 'developed-games' %}">Manager</a></li>
              {% endif %}
            {% endif %}
          </ul>
          <!-- Right side -->
          <ul class="nav navbar-nav navbar-right">

                <!--Login button or profile dropdown-->
                {% if not user.is_authenticated %}
                    <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                {% else %}
                    <li><a href="{% url 'cart' %}"><span id="cart-counter" class="badge">{{ request.user.shopping_cart.count }}</span> Shopping Cart</a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> {{ user.username }}<span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'update-profile' %}"><img src="{{MEDIA_URL}}{{user.profile.image}}" alt="Profilepic"></a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'update-profile' %}">Profile</a></li>
                        <li><a href="{% url 'payment-search' %}">Your payments</a></li>
                        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                      </ul>
                    </li>

                {% endif %}
          </ul>
        </div>

      </div>
    </nav>

    <!-- Main content -->
    <div id="basecontent">
      {% block content %}


      <div id="main">
        <div id="gamewindow">
          <p>
            Aamun kuntokoulu ohi, raskaalta tuntui; eilinen ja.-tappio painoi; never, ever GIVE UP my friend!!! Saako Mårts jatkaa???- ihmettelen jos ei tule vaihdoksia!! Nyt formulaa ; huipputiimi maikkarilla; Oskari, Eki, Mika, Timo-SIMPLY GREAT!! Hieno kiekkoilta; kaksi hyvin valmistettua joukkuetta; Rämö häikäisevä ja 1-3!! Vapaa sunnuntai näkyi suoritusten laadussa-parani loppua kohti!! TUTO IS BACK!!! Maikkarilla suvereeni juontaja Late Karhuvaara oli liekeissä-taas kerran; Oskari Saaren haastattelu alkavasta formulakaudesta oli nappisuoritus!! Seuraavat 21 kuukautta??- Mika Saukkosen (MTV3) sanoin: "Seuratkaapa sitä". Tänään keikka Helsingin Kauppakorkealla; "tulevaisuuden toivot" asiakkaina- "det blir spännande" sanoisivat Foppa ja Sundin!!Sitä ennen Turun Logomoon avaamaan Nyrkkeilykisat; minusta meidän urheiluihmisten on TSEMPATTAVA toinen toisiamme yli lajirajojen ja sen aion TAAS KERRAN tehdä!! Mutta no hätä , lomallahan tässä ollaan. Simply great- keep rocking jatkossakin!!Saku Tuominen heitti komplimentin suorassa lähetyksessä joten tässä Sakulle rannesyöttö takaisin: Saku oli aikoinaan valtakunnan lahjakkaimpia kiekkojunnuja (Kiekko-Espoo); valitsi mediabusineksen; media voitti ,jääkiekko hävisi, mutta intohimo peliin tallella-CHAPEAU SAKU!!! aamujää 10.30; luonas Legenda klubilla 12.30, bussi Heinolaan 13.00. Nyt kylpylään, sitten huippudinner (Japanese Restaurant) ja illalla eurooppalaista huippufutista kaikilta kanavilta!! Aamulla Anskun tavarat Turusta peräkärryyn; Mondeo kiitää kohti stadia; tavarat Anskun kämpille; sieltä ylimääräiset kellaritilaan , joka sijaitsee Munkassa ja kun rundi on tehty (toivottavasti ) puoleen päivään mennessä; meeting Helsingin keskustassa (koulutusasiakas), käynti kiekkoliitossa ystävä Pentti Lindegrenin (Lion # 205) toimistossa , jossa suunnittelemme MM kisojen yksityiskohtia; olen Pentille kertonut, että olen AINA käytettävissä kun liitto tarvitsee; Pentti vetää Finnish Hockey Poolia; tärkeätä palaa maajoukkueen toiminnassa; siellä yritysmaailman kiekkohenkiset "LEIJONAT" kohtaavat ja siten tukevat pelimme kehitystä!!
          </p>
        </div>
        <div id="sidewindow">
          <p>
            "Style is never out of fashion". Maikkarilla suvereeni juontaja Late Karhuvaara oli liekeissä-taas kerran; Oskari Saaren haastattelu alkavasta formulakaudesta oli nappisuoritus!! Illaksi kotiin legendaariseen "Finnair slogan" tyyliin!! "Det blir spännande" sanoisi ruotsin "Aurinkokuningas", ystäväni Niklas Wikegård!! Kevyeltä tuntui; kondis nousee- SIMPLY GREAT!!! Päivä omistettu esikoisen muutolle!! Kevyeltä tuntui, nyt päivän businesten kimppuun!!
          </p>
        </div>
      </div>

      {% endblock %}
    </div>

    <!-- Footer -->
    <div id="footer">
      <p>Web Software Development project spring 2017</p>
    </div>

    <!-- Javascripts here for faster page downloads -->
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--Common js script-->
    <script src="{% static "js/base.js" %}"></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
