{% extends "base.html" %}

{% block title %}Checkout{% endblock %}

{% block content %}

<!-- Final display of games that the user is buying -->
<div id="shopping-cart-list">
  <div class="shopping-cart-header-row col-md-12 col-sm-12 col-xs-12">
    <h3>You are purchasing following games:</h3><br>
  </div>
  {% for game in games %}
    <div class="shopping-cart-row col-md-12 col-sm-12 col-xs-12">
      <div class="col-md-9 col-sm-9 col-xs-8">
        <a href="{% url 'game-view' game.pk %}">
          <div class="search-result-title">{{ game.name }}</div>
        </a>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-4">
        {% if game.discount > 0 %}
          <div class="game-cart-price-original"><s>{{ game.price|floatformat:2 }} &euro;</s></div>
          <div class="game-cart-discounted">{{ game.discounted_price|floatformat:2 }} &euro;</div>
        {% else %}
          <div class="game-cart-price">{{ game.price|floatformat:2 }} &euro;</div>
        {% endif %}
      </div>
    </div>
  {% endfor %}

<!-- "Form" to be sent to Simple Payments, everything coming from view -->
  <div class="shopping-cart-submit-form col-md-12 col-sm-12 col-xs-12">
    <form id="paymentform" action="http://payments.webcourse.niksula.hut.fi/pay/" method="POST">
        <input type="hidden" name="pid" value={{pid}} />
        <input type="hidden" name="sid" value={{sid}} />
        <input type="hidden" name="success_url" value={{success}} />
        <input type="hidden" name="cancel_url" value={{cancel}} />
        <input type="hidden" name="error_url" value={{error}} />
        <input type="hidden" name="checksum" value={{checksum}} />
        <!--
        dev parameter to be removed when deploying
        <input type="hidden" name="dev" value=0 />-->

        <label for="total_payment">Total: </label>
        <input type="text" id="total_payment" name="amount" value={{amount}}  readonly/>
        <br>
        <input type="submit" value="Proceed to payment service"/>
    </form>
  </div>
</div>

{% endblock %}
