{% extends "base.html" %}

{% block title %}Payment Succeeded{% endblock %}

{% block content %}

<h4 class="payment-status-message">The payment succeeded.</h4>

<!-- Display message coming with template call. -->
{% if message %}
<p class="payment-status-message">{{message}}</p>
{% endif %}

<div id="success_buttons">
  <div class="row">
    <div class="buttonrow col-lg 12 col-md-12 col-sm-12 col-xs-12 text-center">

        <a href="{% url 'owned-games' %}" class='btn btn-default btn-md'>
            Your games
        </a>

        <a href="{% url 'payment-search' %}" class='btn btn-default btn-md'>
            Your payments
        </a>
    </div>
  </div>
</div>

{% endblock %}
