{% extends "base.html" %}

{% block title %}Payment History{% endblock %}

<!-- Display all payments made by an user -->

{% block content %}
<div id="entries" class="container-fluid">

  <!-- Parameter empty indicates if the user has made any payments at all -->
  {% if not empty %}
    <div class="row">
      <div class="col-lg 12 col-md-12 col-sm-12 col-xs-12">
        <h2>Your payments</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 col-sm-5 col-xs-5">
          <h4>Game bought</h4>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
          <h4>Payment time</h4>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-3">
          <h4>Price</h4>
      </div>
    </div>

    {% for payment in payments %}
      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <a href="{% url 'game-view' payment.gameid %}">
              {{payment.game}}
            </a>
        </div>
        <div class="col-lg 4 col-md-4 col-sm-4 col-xs-4">
            {{payment.date|date:"d M Y, H:i"}}
        </div>
        <div class="col-lg 3 col-md-3 col-sm-3 col-xs-3">
            {{payment.amount}} €
        </div>
      </div>
    {% endfor %}

    <div class="row">
      <div class="col-lg 12 col-md-12 col-sm-12 col-xs-12">
        <h4>All payments total: {{sum|floatformat:2}} €</h4>
      </div>
    </div>
  {% else %}
    <p>You haven't made any payments yet.</p>
  {% endif %}

</div>

{% endblock %}
