{% extends "base.html" %}

{% block title %}Payment Error{% endblock %}

{% block content %}

<h4 class="payment-status-message"> There was an error in the payment.</h4>

<!-- Display possible error message attached with template call -->
{% if message %}
<p class="payment-status-message">{{message}}</p>
{% endif %}

<div id="error_buttons">
  <div class="row">
    <div class="buttonrow col-lg 12 col-md-12 col-sm-12 col-xs-12 text-center">

        <a href="{% url 'game-list' %}" class='btn btn-default btn-md'>
            Game browser
        </a>

        <a href="{% url 'cart' %}" class='btn btn-default btn-md'>
            Shopping cart
        </a>
        
    </div>
  </div>
</div>

{% endblock %}
