{% extends "base.html" %}

{% block title %}Payment Canceled{% endblock %}

{% block content %}

<h4 class="payment-status-message">You canceled the payment.</h4>

<div id="cancel_buttons">
  <div class="row">
    <div class="buttonrow col-lg 12 col-md-12 col-sm-12 col-xs-12 text-center">

        <a href="{% url 'game-list' %}" class='btn btn-default btn-md'>
            Game browser
        </a>

        <a href="{% url 'cart' %}" class='btn btn-default btn-md'>
            Shopping cart
        </a>
    </div>
  </div>
</div>

{% endblock %}
