﻿{# Present all kind of forms needed in user data handling #}

{% if info %}<h4>{{ info }}</h4>{% endif %}
<p id="media_url" class="hidden">{{MEDIA_URL}}</p>
{# enctype needed to get the image uploaded to the request.FILES #}
<form class="form-horizontal" method="post" enctype="multipart/form-data">
    {# Hidden inputs #}
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.GET.next }}">
    {% if dev %}<input type="hidden" name="dev" value="{{ dev }}" />{% endif %}
    {% if game %}<input type="hidden" name="gamepk" value="{{ game.pk }}" />{% endif %}
    

    {# Special forms #}
    {# User registeration and update #}
    {% if userform %}
        <h3>Username and password information</h3>
        {{ userform.as_p }}
    {% endif %}
    {% if developerform %}
        <h3>Developer related information</h3>
        {{ developerform.as_p }}
    {% endif %}
    {% if profileform %}
        <h3>Other profile information</h3>
        {{ profileform.as_p }}
        {% if profilepic %}
            <img id="uploaded_image_thumbnail" class="hidden" src="{{MEDIA_URL}}{{request.user.profile.image}}" alt="/media/{{request.user.profile.image}}" height="128">
        {% endif %}
    {% endif %}

    {# Game upload and update #}
    {% if gameform %}
        <h3>Game Information</h3>
        {{ gameform.as_p }}
        {% if game %}
            <img id="uploaded_image_thumbnail" class="hidden" src="{{MEDIA_URL}}{{game.thumbnail}}" alt="/media/{{game.thumbnail}}" height="128">
        {% endif %}
    {% endif %}
    {% if tagform %}
        <h3>Game Tags</h3>
        {{ tagform.as_p }}
    {% endif %}
    {% if formset %}
        {{formset.management_form}}
        <div id="formset">
            {% for formset_form in formset %}
                {{ formset_form.as_p }}
                {%if formset_form.initial %}
                    <img class="formset_image hidden" src="{{MEDIA_URL}}{{formset_form.initial.image}}" />
                {%endif%}
            {% endfor %}
        </div>
    {% endif %}

    {# Normal case #}
    {% if form %}{{ form.as_p }}{% endif %}
    
    <div id="extra_material"></div>
    <input class="btn btn-primary" type="submit" value="{{ buttontext }}" />
    <a id="form_cancel" class="btn btn-warning" href="/">Cancel</a>
</form>