{% extends "base.html" %}
{% block scripts %}
    {% load static %}<script src="{% static "js/forms.js" %}"></script>
{% endblock %}


{% block title %}Login{% endblock %}

{% block content %}

    {% if not request.user.is_authenticated %}
        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% endif %}
          <div id="registerform" >

            <form method="post">
                {% csrf_token %}
                {%if error_msg %}<div class="alert alert-danger">{{error_msg}}</div>{%endif%}
                {{ form.as_p }}
                <button class="btn btn-primary" type="submit">Login</button>
                <input type="hidden" name="next" value="{{ next }}" />
                  <a href="{% url 'password-reset' %}">Forgot your password?</a>
                  <div class="social">
                      <br />
                      <strong>Or login with these: </strong><a href="{% url "social:begin" "facebook" %}" class="btn btn-sm social-fb">
                        <img src="{% static "social-fb.png" %}" alt="Facebook"><span>Login</span>
                      </a>
                      <a href="{% url "social:begin" "google-oauth2" %}" class="btn btn-sm social-gp">
                        <img src="{% static "social-gp.png" %}" alt="Google Plus"><span>Login</span>
                      </a>
                  </div>
                <div id="login_register_redirect">
                    <br />
                    <a href="{% url 'register-user' %}">Sign up as a User</a> or <a href="{% url 'register-developer'%}">Sign up as a Developer</a>
                </div>
            </form>

          </div>

    {% else %}
    <p>You are already logged in. Click <a href="/">here</a> to go to the home page.</p>
    {% endif %}
{% endblock %}
