{% extends "base.html" %}
{% block scripts %}
    {% load static %}<script src="{% static "js/forms.js" %}"></script>
{% endblock %}

{% block title %}Register{% endblock %}

{% block content %}
{% if not request.user.is_authenticated %}  
    <div id="register_aid">
        <h2 class="pageheader">User information</h2>
        <p>Please fill in your user information to register to the {{ request.get_host }}</p>
        <p id="register_required_text">Required fields are bordered</p>
    </div>
        
    <div id="registerform">
        {% include "login/form.html" with buttontext="Register" %}
    </div>
{% else %}
    <p>You are already logged in, so no need to register. Click <a href="/">here</a> to go to the home page.</p>
{% endif %}
{% endblock %}


