﻿{% extends "base.html" %}

{% block title %}User registeration complete{% endblock %}

{% block content %}
<h3>Congratulations! You have successfully registered to the {{ request.get_host }}.</h3>
<p>Go ahead and <a href="{% url 'login' %}">log in</a> now.</p>
{% endblock %}