{% extends "base.html" %}
{% block scripts %}
    {% load static %}<script src="{% static "js/forms.js" %}"></script>
{% endblock %}

{% block title %}Update Profile{% endblock %}

{% block content %}
  
<div id="register_aid">
    <h2 class="pageheader">Profile</h2>
    <p>Here you can take a look at your profile and update information.</p>
</div>
   
<a href="{% url 'password-change' %}" class="btn btn-primary">Change the password</a>
<div id="registerform">
        {% include "login/form.html" with buttontext="Update" profilepic="True" %}
</div>

{% endblock %}


