/* This file contains css styling for content and Bootstrap overriding */

body {
  background-color: #eaeaed;
}

.navbar-default {
  background-color: #28304f;
}

.panel-default > .panel-heading {
  background-color: #5a6aad;
}

.panel-title {
  color: white;
}

.btn-default, .btn-primary{
  background-color: #5a6aad;
  color: white;
  border-color: #5a6aad;
}

.btn-default:hover, .btn-primary:hover{
  background-color: #7d95f2;
  border-color: #7d95f2;
}

a,
.sortable-table th {
  color: #5a6aad;
}

a:hover,
a:focus,
.sortable-table th,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #8aa1db;
}

.pagination > li > a {
  background-color: #5a6aad;
}

.pagination > li > a:hover,
.pagination > li > a:focus {
  background-color: #8aa1db;
}

.pagination > li.active > span,
.pagination > li.disabled > span,
.pagination > li.active > span:hover,
.pagination > li.disabled > span:hover {
  background-color: #28304f;
}

.search-result-row {
  margin-top: 10px;
}

.search-result-price-new, .view-price-new {
  color: red;
  font-weight: bold;
}

.search-result-price, .view-price {
  font-weight: bold;
}

.search-result-discount, .view-discount {
  color: white;
  background-color: rgb(50,200,20);
  position: absolute;
  width: 50px;
  text-align: center;
}

.search-result-discount {
  right: 80px;
  top: 10px;
}

.view-discount {
  left: 80px;
  top: 10px;
}

.search-result-title {
  font-size: 110%;
  margin-bottom: 5px;
}

.search-result-thumbnail {
  margin-bottom: 5px;
}


/* --- payments --- */

#total_payment {
  width: 100px;
  text-align: center;
}

.payment-status-message {
  text-align: center;
}

.social {
  text-align: right;
}

.social-fb {
  background-color: #3B5998;
  border-color: #3B5998;
  color: white;
}

.social-tw {
  background-color: #55ACEE;
  border-color: #55ACEE;
  color: white;
}

.social-gp {
  background-color: #DC4E41;
  border-color: #DC4E41;
  color: white;
}

.social-fb:hover {
  background-color: #527DD3;
  border-color: #527DD3;
}

.social-tw:hover {
  background-color: #5BBBFF;
  border-color: #5BBBFF;
}

.social-gp:hover {
  background-color: #FF5B4C;
  border-color: #FF5B4C;
}

.social img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.social span {
  vertical-align: middle;
}

#footer {
  clear:both;
  text-align:center;
}

#gamewindow{
  /*clear:both;*/
  float:left;
  width:70%;
  padding:5px;
}

#sidewindow{
  /*clear:both;*/
  float:right;
  width:30%;
  padding:5px;
}

.navbar-header {
  padding-top: 10px;
  text-align:center;
}

.rate-star {
  font-size: 150%;
}

/* Home page features */

#cart-counter {
  margin-bottom: 2px;
  margin-right: 5px;
}

.home-tags {
  line-height: 200%;
}

.home-showcase {
  padding: 0px;
  position: relative;
  list-style: none;
}

.home-showcase img {
  width: 100%;
}

.home-showcase-label {
  position: absolute;
  z-index: 1000;
  bottom: 0px;
  width: 100%;
  padding: 10px;
  background-color: rgba(0,0,75,0.5);
  color: white;
  font-size: 150%;
}

@media(max-width:767px) {
  .hide-desktop {
    display: block;
  }
  .hide-mobile {
    display: none;
  }
}

@media(min-width:768px) {
  .hide-desktop {
    display: none;
  }
  .hide-mobile {
    display: block;
  }
}

/*----------------------------------REGISTERFORM---------------------------------*/

#register_aid {
    padding: 6px 10px;
    margin: 8px 10px;
}

form:not(.form-nondefault) {
    margin: 8px;
    padding: 20px;
    align-items: center;
    display: inline-block;
    /*justify-content: center;*/
}

#register_required_text {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline;
}
#registerform, #gameform
{
    margin: 8px;
    padding: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
}


#registerform input:required, #register_required_text {
    border: 2px solid black;
}

input[type=file] {
    display: none;
}

.helptext {
    display: none;
}

.image_input_span, .defaut_image_span, #form_cancel, .image_input_thumbnail{
    margin-top: 8px;
    margin-bottom: 8px;
}

#screenshot_preview img, #defaut_image_span, .empty_screenshot
{
    margin: 8px;
    align-items: center;
    display: inline-block;
}

.errorlist li {
  list-style: none;
}

/*-------------------------------------------------------------------*/

.add-to-cart-button::after {
  content: "Add to Cart";
}

.add-to-cart-button.in-cart::after {
  content: "Remove";
}

.avgratingstar {
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 10px;
}

.avgratingstar.glyphicon-star-empty {
  color: #91908b;
  font-size: 1.3em;
}

.avgratingstar.glyphicon-star {
  color: #e5c41d;
  font-size: 1.3em;
}

.ratingstar.glyphicon-star-empty {
  color: #91908b;
  margin-bottom: 10px;
}

.ratingstar.glyphicon-star {
  color: #e5c41d;
  margin-bottom: 10px;
}


/* --------------- Game playing window --------------- */

/* iFrame is whole window size by default */
.iframe_div{
  width:100%;
  height:100%;
  margin: 0 auto;
}

iframe {
  height: 100%;
  width: 100%;
  border-style: none;
}

#gamemessages {
  list-style-type: none;
}

#basecontent {
  max-width: 1000px;
  margin: auto;
}

/* --------------- Screenshot browser --------------- */

.shot-browser {
  background-color: black;
  width: 100%;
  padding-bottom: 56.25%; /*16:9 aspect ratio*/
}

.shot-control {
  width: 50px;
  position: absolute;
  z-index: 1000;
  top: 0;
  bottom: 0;
  color: white;
  font-size: 30px;
  background: rgba(0,0,75,0);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.shot-control span {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
}

.prev-shot {
  left: 0;
  background: linear-gradient(to left, rgba(0,0,75,0), rgba(0,0,75,0.5));
  margin-left: 15px;
}

.next-shot {
  right: 0;
  background: linear-gradient(to right, rgba(0,0,75,0), rgba(0,0,75,0.5));
  margin-right: 15px;
}

.shot-browser:hover .shot-control:not(:hover) {
  opacity: 0.5;
}

.shot-control:hover {
  opacity: 1;
}

.screenshot {
  position: absolute;
  max-width:100%;
  max-height:100%;
  height: 100%;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#avg_table {

}