/* Sidebar functionality */
#basecontent {
  position: relative;
}

#sidebar {
    height: 100%;
    overflow-y: auto;
    background-color: #eaeaed;
    padding-left: 15px;
}

#sidebar-toggle {
    position: fixed;
    top: 50px;
    left: -2px;
    border-color: darkgray;
    border-style: solid;
    border-left-style: none;
    border-width: 2px;
    border-left-width: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #eaeaed;
    width: 40px;
    height: 50px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
    z-index: 1000;
}

#sidebar-toggle span {
    color: steelblue;
    font-size: 20px;
    position: relative;
    left: 5px;
    top: 12px;
}

#sidebar, #sidebar-toggle {
    -webkit-transition: left 0.5s ease;
    -moz-transition: left 0.5s ease;
    -o-transition: left 0.5s ease;
    transition: left 0.5s ease;
}

body {
  overflow-x: hidden;
}

/*Small screen, hide sidebar*/
@media(max-width:767px) {
    #sidebar {
        position: fixed;
        top: 0px;
        left: -200px;
        width: 200px;
        box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
        border-color: darkgray;
        border-right-style: solid;
        border-width: 2px;
        padding-top: 20px;
        z-index: 1000;
    }

    #sidebar.toggled {
        left: 0px;
    }

    #content {
        padding-left: 20px;
    }

    #sidebar-toggle {
        display: block;
        left: -2px;
    }

    #sidebar.toggled + #content #sidebar-toggle {
        left: 198px;
    }
}

/*Large screen, show sidebar*/
@media(min-width:768px) {
    #sidebar {
        position: absolute;
        left: 0px;
        width: 200px;
        overflow-y: visible;
        padding-top: 0px;
        z-index: 999;
    }

    #content {
        padding-left: 200px;
    }

    #sidebar-toggle {
        left: -50px;
        display: none;
    }
}
