/* Area around the toggle */
.toggle {
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Colors */
.toggle {
  color: #5a6aad;
}

.toggle:hover {
  color: #8aa1db;
}

/* Hide the default checkbox */
.toggle input {
  display:none;
}

/* Unchecked text */
input ~ .toggle-text:before {
  content: "Ascending";
}

/* Checked text */
input:checked ~ .toggle-text:before {
  content: "Descending";
}

/* Unchecked icon */
input ~ .toggle-icon-1 {
  display: inline;
}
input ~ .toggle-icon-2 {
  display: none;
}

/* Checked icon */
input:checked ~ .toggle-icon-1 {
  display: none;
}
input:checked ~ .toggle-icon-2 {
  display: inline;
}
